@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

nav{
    a{
        color: black !important;
    }
    .brand-logo{
        font-family: 'Grand Hotel', cursive;
        font-size: 3rem;
    }
}

